*{
    padding: 0;
    margin : 0;
    box-sizing: border-box;
}

.imagecontainer{
    position: relative;
}

.image:hover  {
    webkit-filter: blur(1px); /* Chrome, Safari, Opera */
    filter: blur(1px);
    transition: 0.3s ease;
}





