<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" , initial-scale=1>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>

</head>

<body style="
  font-family: 'Trebuchet MS', sans-serif; 
  font-size: 16px;
  background: white;
background: linear-gradient(132deg, rgba(241,246,10,0.3533788515406162) 0%, rgba(226,22,191,0.20772058823529416) 100%);
height: 100%;
  ">

    <div style="padding-left:3%; padding-right: 3%">

        <h5 style="text-align: left; font-size: 12px;">Dear {{name}},</h5>
        <h5 style="text-align: left; font-size: 12px;">Here are your login details:</h5>
        <p style="font-size: 12px;">UserName : <b style="color:purple">{{email}}</b><br>
            Password : <b style="color:purple">{{password}}</b><br><span style="font-size: 12px;">You can change your
                password by logining into
                WEBSAVVY</span>:<span
                style="color: rgba(4, 48, 241, 0.863); font-size: 12px;">https://www.websavvy.com</span></p>



        <center><img width="95%" src="https://i.ibb.co/4pfdWNw/mail-poster-2-1.jpg" /></center>
        <div style="text-align: right">
            <p style="font-size: 12px;">Thank you</p>
            <p style="font-size: 12px;">Websavvy</p>
        </div>
    </div>

</body>

</html>