<!doctype html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'Coordinator/css/myaccount.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>WebSavvy|Settings</title>
</head>

<body>

    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1" style="color: white;"> &nbsp; WebSavvy</span>
    </nav>

    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div style="background: white; border-radius: 5px;">
                    <div style="width: 100%; height:120px;  border-top-left-radius: 5px; border-top-right-radius: 5px;">
                        <img src="{% static 'Coordinator/images/coverphoto.png' %}" style="width: 100%;" />
                    </div>
                    <div class="d-flex justify-content-center imagecontainer">
                        {% if user.avatar %}
                        <img class="image" style="border-radius: 50%;" src="{{user.avatar.url}}"
                            width="100" height="100" />
                        {% else %}
                        <img class="image" style="border-radius: 50%;"
                            src="{% static 'Coordinator/images/defaultavatar.png' %}" width="100" height="100" />
                        {% endif %}
                        <button class="btn btn-green" style="border: 0px !important; padding:0px !important; height: 10px;"
                            data-toggle="modal" data-target="#changeimage">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="grey"
                                class="bi bi-camera-fill" viewBox="0 0 16 16">
                                <path fill=grey d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                <path fill=grey
                                    d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z" />
                            </svg>
                        </button>
                    </div>
                    <div class="d-flex flex-column align-items-center " id="details">
                        <b>
                            <p style="font-size: 12px; margin-bottom: 0; ">{{user.get_fullname}}</p>
                        </b>
                        <p style="font-size: 12px; ">{{ user.roll }}</p>

                        <p style="font-size: 12px; opacity: .7; text-align: center;">Active member of WebSavvy</p>
                    </div>
                    <div class="d-flex flex-column ">
                        <div class="container ml-5 mb-5" id="reset" style="width: 280px;">

                            <div style="width:250px;">
                                <p style="font-size: 12px; margin-bottom: 0; display: inline; "><b>FirstName</b> :
                                    {{user.firstName}}</p>
                                <button data-toggle="modal" data-target="#firstNameModal" style="display: inline;"
                                    class="btn btn-outline-light text-dark" type="button"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path
                                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd"
                                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                    </svg></button>
                            </div>
                            <div style="width:250px;">
                                <p style="font-size: 12px; margin-bottom: 0; display: inline;"><b>LastName</b> :
                                    {{user.lastName}}</p>
                                <button data-toggle="modal" data-target="#lastNameModal" style="display: inline;"
                                    class="btn btn-outline-light text-dark" type="button"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path
                                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd"
                                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                    </svg></button>

                            </div>




                        </div>
                        <div class="d-flex justify-content-between" id="logout">
                            <button type="button" data-toggle="modal" data-target="#resetpassword"
                                class="btn btn-warning ml-5" style="font-size: 12px; width: 120px;">Reset Password</button>
                            <a href="{% url 'App:logout' %}" class="btn btn-danger mr-5" style="font-size: 12px; width:100px">Logout</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for changing the first name lastname and reseting password -->

    <!-- Modal for firstName -->
    <div class="modal fade" id="firstNameModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Change FirstName</h5>
                    <button type="submit" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <input name="firstname" hidden />
                    <div class="modal-body">
                        <span>FirstName : </span><input class="form-control" type="text" name="firstName"
                            placeholder="{{user.firstName}}" required />
                    </div>
                    <div class="modal-footer">

                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal for lastName -->
    <div class="modal fade" id="lastNameModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Change LastName</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <input name="lastname" hidden />
                    <div class="modal-body">
                        <span>lastName : </span><input class="form-control" type="text" name="lastName"
                            placeholder="{{user.lastName}}" required />
                    </div>
                    <div class="modal-footer">

                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal for resetPassword -->

    <div class="modal fade" id="resetpassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Reset Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <input name="resetpassword" hidden />
                    <div class="modal-body">
                        <input type="password" name="oldpassword" class="form-control mt-2"
                            placeholder="Old Password" />
                        <input type="password" id="newpassword" name="newpassword" class="form-control mt-2"
                            placeholder="New Password" />
                        <input type="password" id="conformpassword" name="confirmpassword" class="form-control mt-2"
                            placeholder="Conform Password" />

                    </div>
                    <div class="modal-footer">

                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Modal to change image-->
    <div class="modal fade" id="changeimage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Avatar</h5>
                    <button type="submit" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input name="changeimage" hidden />
                    <div class="modal-body">
                        <button type="button" class="btn btn-outline-light"
                            onclick="document.getElementById('changeavatar').click()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-camera-fill" viewBox="0 0 16 16">
                                <path fill=green d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                <path fill=green
                                    d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z" />
                            </svg>
                        </button>
                        <input id="changeavatar" type="file" name="avatar" required />

                        <a href="{% url 'Coordinator:deleteavatar' %}" class="btn btn-outline-light ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash" viewBox="0 0 16 16">
                                <path fill=red
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd" fill=red
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg>
                        </a>
                    </div>
                    <div class="modal-footer">

                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- ---------------------------------------------------------------- -->





    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    -->
</body>

</html>