<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'App/css/passwordchanged.css' %}">
    <title>passwordchanged</title>
</head>

<body>
    <img class="bg" src="{% static 'App/images/team10.svg' %}">
    <center>
        <div class="container">
            <p>Your password has successfully changed. Go back to the <a href="{% url 'App:loginpage' %}"
                    style="color: rgb(163, 9, 198); font-size: 20px;"> loginpage </a></p>
        </div>
    </center>




</body>

</html>