<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'App/css/validation.css' %}">
    <title>Validate OTP</title>
</head>

<body>
    <img class="bg4" src="{% static 'App/images/team10.svg' %}">
    <center>
        <div class="container">
            <p>An OTP for changing password have been sent the corresponding Email Address</p>
            <center>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="#otp"></label>
                        <input type="text" id="otp" class="form-control" placeholder="OTP" name="otp" required />
                        <label for="p1"></label>
                        <input type="password" id="p1" class="form-control" placeholder="New Password" name="p1"
                            required />
                        <label for="p2"></label>
                        <input type="password" id="p2" class="form-control" placeholder="Confirm Password" name="p2"
                            required />

                        <button id="submit_button" type="submit" class="btn"
                            onclick="document.getElementById('submit_button').type='none'">SUBMIT</button>
                    </div>
                </form>
            </center>

        </div>

</body>

</html>