*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: white;
    font-family: "Poppins", sans-serif;
}
.navbar-light{
    background: linear-gradient(to bottom right, #7e41bb -10%, #d87bdc 89%);
    height: 70px;

}

.custom_toast{
    color:white;
    position:fixed;
    top:10%;
    right : 20px; 
    background: rgba(247, 3, 3, 0.750);
    padding:5px;
    border-radius: 5px;
    transform: translateX(1000px);
    transition: all 300ms;
}
.card-header{
    background-color: rgb(245, 227, 248);
    
}
.card-footer{
    background-color: rgb(245, 227, 248);
}
.card-body{
    font-size: 14px;
    padding:15px;
}
#like_button{
    border: transparent;
    margin-left: 10px;
}
span{
    font-size: 12px;
}
.show{
    transform : translateX(0px);
    
}
.form-control{
    margin-right:20px;
}

/* skeleton loading animation */

.skeleton{
    animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text{
    width: 40px;
}

@keyframes skeleton-loading {
    0% {
        background-color:hsl(200, 20%, 70%)
    }

    100%{
        background-color:hsl(200,20%,95%)
    }
}

/* ///////////////// */