*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: rgb(220, 224, 228);
}

.custom_toast{
    color:white;
    position:fixed;
    top:10%;
    right : 20px; 
    background: rgba(247, 3, 3, 0.750);
    padding:5px;
    border-radius: 5px;
    transform: translateX(1000px);
    transition: all 300ms;
}

.show{
    transform : translateX(0px);
    
}

/* skeleton loading animation */

.skeleton{
    animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text{
    width: 40px;
}

@keyframes skeleton-loading {
    0% {
        background-color:hsl(200, 20%, 70%)
    }

    100%{
        background-color:hsl(200,20%,95%)
    }
}

/* ///////////////// */