
@import url(https://fonts.googleapis.com/css?family=Poppins);

body {
  font-family: "Poppins", sans-serif;
  align-items: center;
  overflow: hidden;
  
}
/*background_image*/
.bg{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: -1;
    width:100%;
    opacity: 0.4;
  
}
/*container of the form*/
.container{

  width: 900px;
  height: 90px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  border: transparent;
  background: white;
  margin-top: 150px;
}
/*apply for paragraph*/
.container >p{
  text-align: center;
  font-weight: bold;
  color:rgb(94, 56, 111);
  padding-top:25px;
  margin:10px;
  font-size: 18px;
  
}
/*apply for login link*/
.container >a{
  text-align: center;
  font-weight: 900;
  color:rgb(169, 214, 214);
  padding-top:25px;
  margin:10px;
}
@media screen and (max-width:700px){
  .container{
    width: auto;
    height: 100px;
    margin-top: 150px; 
  }

}
@media screen and (max-width:650px){
 
  .container{
    width: auto;
    height: 100px;
    margin-top: 150px; 
  }

}
@media screen and (max-width:540px){

  .container{
    width: auto;
    height: 105px;
    margin-top: 100px; 
  }

}
@media screen and (max-width:400px){
  
  .container{
    width: auto;
    height: 90px;
    margin-top: 100px; 
  }
  .container >p{
    font-size: 15px;
    padding-top:15px;
    
  }
  .container >a{
    margin:10px;
  }

}
