@import url(https://fonts.googleapis.com/css?family=Poppins);

body {
  font-family: "Poppins", sans-serif;
  align-items: center;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}
/*background_image*/
.bg4{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
    width:100%;
    height: 100%;
    opacity: 0.4;
  
}
/*container of the form*/
.container{

  width: 500px;
  
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  border: 2px solid transparent;
  background:white;
  border-radius: 20px;
  margin-top: 150px; 
}
/*apply for heading*/
.container >p{
  text-align: center;
  font-weight: bold;
  color:rgb(59, 8, 74);
  padding-top:20px;
  margin-bottom:-2px ;
}

/*otp input*/
#otp{
  width: 350px;
  margin-top:20px;
  font-size: 12px;
  color:rgb(11, 4, 29);
  font-weight: 500;
  border-color:transparent;
  background-color: rgb(243, 243, 243);
  padding: 10px;
  border-radius: 20px;
}
  
#p1{
  width: 350px;
  margin-top:15px;
  font-size: 12px;
  color:rgb(11, 4, 29);
  font-weight: 500;
  border-color:transparent;
  background-color: rgb(243, 243, 243);
  padding: 10px;
  border-radius: 20px;
  
}
#p2{
    width: 350px;
  margin-top:15px;
  font-size: 12px;
  color:rgb(11, 4, 29);
  font-weight: 500;
  border-color:transparent;
  background-color: rgb(243, 243, 243);
  padding: 10px;
  border-radius: 20px;

  }
/*submit button*/
.container .btn{
  
    margin: 20px;
    width: 150px;
    background-color: #874baf;
    color:white;
    border-radius: 30px;
    border-color: transparent;
    padding: 9px;
  
  }
  .container .btn:hover{
    background-color:white;
    color:rgb(104, 55, 137);
  }
/*media queries*/

/*maximum width upto 552px*/
  @media screen and (max-width:552px){
    .container{
      width: 400px;
      margin-top: 120px;
    }
    
    #otp,#p1,#p2{
        width: 330px;
    }
    /*submit button*/
    .container .btn{
  
        margin: 20px;
        width: 130px;
        background-color: #874baf;
        color:white;
        border-radius: 30px;
        border-color: transparent;
        padding: 10px;
      
      }
      .container .btn:hover{
        background-color:white;
        color:rgb(104, 55, 137);
      }
    .bg{
      position: fixed;
      bottom: 0;
      left: 0;
      height: 100%;
      z-index: -1;  
  }
}
@media screen and (max-width:552px){
    .container{
        width: 300px;
        margin-top: 120px;
      }
      #otp,#p1,#p2{
        width: 240px;
    }
    .container >p{
        font-size: 13px;
    }



}